@import "./colors";

$shadow-outline-primary: 0 0 6px $color-primary;
$shadow-outline-accent: 0 0 6px $color-accent;
$shadow-outline-white: 0 0 6px white;
$shadow-outline: 0 2px 2px $color-gray-1;
$shadow-outline-large: 0 6px 24px $color-gray-1;
