@import "../../../assets/scss/colors";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 260px;
  border-right: transparent solid 0;
}

.sidenav_header {
  padding: 0;
}

.sidenav-content {
  overflow-y: hidden;
}

.content{
  padding: 20px 40px;
  max-height: calc(100vh - 104px);
  overflow-y: auto;
}

.menu-container{
  background: white;
}

.navbar{
  justify-content: space-between;
}
.derecha{
  padding-right: 1rem;
}
.left{
  padding-left: 1rem;
}

.example-icon {
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}
